
/*Espaçamento do botão */
.align-btn{
  float: right; 
  margin: 10px 0px 0px 0px;
}

html,body {
  height: 100%;
  background-size: 100% 100%;
  background-color: #E8E8E8 ;
}

/* HEADER */
header#cabecalho { 
  display: block; 
  position: fixed; 
  width: 100%; 
  text-align: center; 
  background:#034582; 
  height:50px;font-size: 18px; 
  color: white; 
  font-weight: bold; 
  padding-top: 12px; 
  box-shadow: rgba(0,0,0,014902) 0px 0px 0px 0px,rgba(0,0,0,0.09804) 0px 0px 0px 1px;
}
#empresa {
  width: 150px; 
  height: 50px; 
  float: left; 
  margin: -12px 0px 0px 0px; padding: 10px 0px 0px 0px; background: #023869;
}
#menu-user {
  float: left;
  margin: -4px 5px 0px 5px; 
}
img.foto-user {
  width: 40px; 
  height: 40px; 
  float:left; 
  margin: -7px 5px 0px 0px; 
}
.nome-user {
  float: left; 
  font-size: 16px; 
  margin: 5px;
}


/* Efeitos do Menu */
#menutopo {
  height: 50px;  
  margin-top:-12px; 
  width: auto; 
  float: right; 
  margin-left: 10px;
}
#menutopo ul {
  padding:0px;
  margin:0px;

}
#menutopo ul li { 
  display: inline; 
}

#menutopo ul li a {
  padding: 13px 15px;
  display: inline-block;
  background-color:#034582;
  color: white;
  text-decoration: none;
}

#menutopo ul li a:hover {
  background-color:#045fb4;
  color: white;

}

/* Fecha HEADER */


/* Menu Lateral */

aside#bloco-menu {
  background: #CCCCCC;
  border-right: 1px solid #CCCCCC;
   width: 150px; 
   box-shadow: rgba(0,0,0,014902) 0px 0px 0px 0px,rgba(0,0,0,0.09804) 0px 0px 0px 1px
 }
aside{
  position: fixed; 
  top: 50px; 
  left: 0; 
  bottom: 0; 
  isplay: block;
}

aside nav {
  width: 100%; 
  padding: 0; 
  margin: 0;
}
aside nav ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}
aside nav img {
  float: right;
}
aside nav a:link {
  padding: 6px 0px 0px 15px;  
  color: #777777; 
  display: block; 
  text-decoration: none; 
  height: 35px; 
  border-bottom:1px solid gray;
}
aside nav a:hover {
  background: #DBDBEA;
}
aside nav a:visited {
  background: #DBDBEA; 
  color:#777777;  
  border-bottom:1px solid gray;
}

/* Fecha Menu Lateral */

/* Padrao Janela */
#janela{
  width:1024px; 
  height:auto; 
  margin: 0 auto;
  padding-top:90px; 
}

/* Centralizar janela de Login*/
#divCenter { 
  padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	 }
.bloco {

  width: 300px; 
  height: 100px; 
  margin-top: -260px; 
  position: absolute; 
  top:50%; 
  left: 50%; 
  margin-left: -150px;
}



.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}

.button:focus { 
  outline: 0; 
}

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { 
  background: #357bd8; 
}
.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}



/* Centraliza TAB dentro de JANELA */
.tab-content {
  padding: 10px 0px 0px 0px; margin-left: -10px;
} 

/* todos input com letra maiscula*/
input {
  text-transform: uppercase;
}

legend {border-left: 10px solid gray; padding: 5px; background: #CCCCCC;}